/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td { 
	padding: 0; 
	margin: 0; 
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
} 
fieldset,img { 
	border: 0; 	
} 
address,capdateon,cite,code,dfn,em,strong,th,var { 
	font-weight: normal; 
	font-style: normal; 
} 
ol,ul { 
	list-style: none; 
} 
capdateon,th { 
	text-align: left; 
} 
// h1,h2,h3,h4,h5,h6 { 
// 	font-weight: normal; 
// 	font-size: 100%; 
// } 
q:before,q:after { 
	content:''; 
} 
abbr,acronym { 
	border: 0; 
}

/*page*/


/*header*/
body{
	width: 980px;
	height: 1386px;
	padding-left:40px; 
	padding-top: 1px
}
#header{
	width: 892px;
	border-bottom: 2px solid #938e8c ;
	float: left;
}
.logobg{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	float: left;
}
 .logobg p{
	padding-top: 40px;
	text-align: center;
	font-size:12px;
	font-family: "黑体";
	color: #ffffff;
}
 .date{
padding-top: 40px;
  float: right;
}
 .date p{
	font-size: 12px;
	color: #d45d5c;
	font-family: "黑体";
}

/*container*/

#container {
	float: left;
	padding-top: 34px;
	width: 892px;
    margin: 0 auto;
}

 .part1 .left_box .picture{	
    width: 641px;
    height: 301px;

}

/* .part1 .left_box .picture .left_mask,.part1 .left_box .picture .right_mask{
	opacity: 0.5;
	filter: Alpha(opacity=50);
	float: left;
	width: 191px;
	height: 301px;
}*/
.part1 .left_box .picture img{
   float: left;
}
.part1 .left_box .picture .left_mask{
	background-color: #428c59;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	width: 191px;
	height: 301px;
    position: relative;
    top: 0;
    left: 0;
	
}
.part1 .left_box .picture .right_mask{
	background-color: #cc7680;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	width: 191px;
	height: 301px;
    position: relative;
    top: -300px;
    left: 450px;
}

.part1 .left_box .articles{
    float: left;
    padding-top: 30px;
    width: 641px;
    height: 301px;
}

.part1 .left_box .articles .cul1{
   width: 30%;
   float: left;

}
.part1 .left_box .articles .cul2{
   width: 30%;
   float: left;
}
.part1 .left_box .articles .cul3{
   width: 30%;
   float: left;
}


.part1 .left_box .articles h1{
	font-family: "宋体";
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	float: left;
}
.part1 .left_box .articles p{
	font-family: "宋体";
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	float: left;
}